*, *::before, *::after {
    box-sizing: border-box;
}

.section-title::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 100px;
    height: 5px;
    background: #F195B2;
}

.section-title::after {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 100px;
    height: 1px;
    background: #62C3E7;
}

.section-title.text-center::before, .section-title.text-center::after {
    left: calc(50% - 50px);
}
