<div class="container-fluid p-0 mb-5 pb-5">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <ngb-carousel>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/img/carousel-1.jpg" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <div class="forText">
                    <h4 class="text-white text-uppercase mb-md-3">Traditional & Delicious</h4>
                    <h1 class="display-3 text-white mb-md-4">Made From Our Own Organic Milk</h1>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>    
                </div>
            </div>
            </ng-template>
            <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../assets/img/carousel-2.jpg" alt="Random second slide">
            </div>
            <div class="carousel-caption">
                <div class="forText">
                    <h4 class="text-white text-uppercase mb-md-3">Traditional & Delicious</h4>
                    <h1 class="display-3 text-white mb-md-4">Made From Our Own Organic Milk</h1>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 mt-2">Learn More</a>    
                </div>
            </div>
            </ng-template>
        </ngb-carousel>

    </div>
</div>
      