*, *::before, *::after {
    box-sizing: border-box;
}

.bg-primary {
    background-color: #F195B2 !important;
}

.m-0 {
    margin: 0 !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 100px;
}

.btn-secondary {
    background-color: #62c3e7;
    border-color: #62c3e7;
}

.btn-secondary:hover {
    background-color: #2ec1f7;
    border-color: #2ec1f7;

}

.text-secondary {
    color: #62C3E7 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.btn-play {
    position: relative;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: #FFFFFF;
  }
  
  .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 100%;
  }
  
  .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 100%;
    transition: all 200ms;
  }
  
  .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: -5px;
    border-left: 25px solid #F195B2;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }