.team-item .team-img {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 15px solid #F195B2;
    border-radius: 200px;
    overflow: hidden;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

.btn {
    font-weight: 500;
    /* padding: 10px 25px; */
    margin: 5px 5px;
    border-radius: 100px;
}

.btn-outline-secondary {
    color: #62C3E7;
    border-color: #62C3E7;
}

.btn-outline-secondary:hover {
    color: #2db6e7;
    border-color: #2db6e7;

}